<hr />

<div class="card card-custom bg-white border-white border-0 lead">
  <div
    class="card-custom-img"
    style="
      background-image: url(https://images.unsplash.com/photo-1524069290683-0457abfe42c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwc2Nob29sc3xlbnwwfHwwfHw%3D&w=1000&q=80);
    "
  ></div>
  <div class="card-custom-avatar">
    <img
      class="img-fluid"
      src="https://cdn-icons-png.flaticon.com/512/354/354637.png"
      alt="Avatar"
    />
  </div>
  <div class="card-body" style="overflow-y: auto">
    <h3 class="card-title display-4">STUDENT</h3>
    <p class="card-text lead">
      Find the best scholarships as per your eligibility.
    </p>
  </div>
  <div
    class="card-footer text-center"
    style="background: inherit; border-color: inherit"
  >
    <a routerLink="/StudentRegistration" class="btn btn-primary"
      >Student Registration</a
    >
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/StudentLogin" class="btn btn-outline-primary"
      >Student Login</a
    >
  </div>
</div>

<hr />

<div class="card card-custom bg-white border-white border-0 lead">
  <div
    class="card-custom-img"
    style="
      background-image: url(https://www.stowers.org/sites/default/files/styles/hero/public/images/hero/hero-about-us.jpg?itok=buuEcF9H);
    "
  ></div>
  <div class="card-custom-avatar">
    <img
      class="img-fluid"
      src="https://cdn-icons-png.flaticon.com/512/201/201591.png"
      alt="Avatar"
    />
  </div>
  <div class="card-body" style="overflow-y: auto">
    <h3 class="card-title display-4">INSTITUTE</h3>
    <p class="card-text lead">
      Help your students/applicants find their way forward.
    </p>
  </div>
  <div
    class="card-footer text-center"
    style="background: inherit; border-color: inherit"
  >
    <a routerLink="/InstituteRegistration" class="btn btn-primary"
      >Institute Registration</a
    >
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/InstituteLogin" class="btn btn-outline-primary"
      >Institute Login</a
    >
  </div>
</div>

<hr />
