<p>student-login works!</p>
<br />
<br />
<div
  class="card"
  style="border-radius: 20px; margin: 50px 300px; padding-left: 50px"
>
  <br />
  <h1 class="display-4 text-center">Student Login</h1>
  <br />
  <br />
  <form
    class="form-horizontal"
    (ngSubmit)="saveLogin(logindata)"
    #studentLoginForm="ngForm"
  >
    <div class="form-group row text-center">
      <label for="inputUID" class="col-2 col-form-label" style="font-size: 18px"
        >UID</label
      >
      <div class="col-8">
        <input
          type="text"
          name="inputUID"
          class="form-control"
          id="inputUID"
          placeholder="Enter Your UID"
          [(ngModel)]="logindata.Aadhaar"
          required
          #Aadhaar="ngModel"
        />
      </div>
    </div>
    <div class="form-group row text-center">
      <label
        for="inputPassword3"
        class="col-2 col-form-label"
        style="font-size: 18px"
        >Password</label
      >
      <div class="col-8">
        <input
          type="password"
          name="inputPassword3"
          class="form-control"
          id="inputPassword3"
          placeholder="Enter Your Password"
          [(ngModel)]="logindata.Password"
          required
          #Password="ngModel"
        />
      </div>
    </div>
    <br />
    <br />
    <div class="child form-group col text-center">
      <button name="Login" type="submit" class="btn btn-primary btn-lg">
        Log In
      </button>
    </div>
  </form>
</div>
