<p>nodal-login works!</p>
<br />
<br />
<div class="card login" style="margin: auto 200px">
  <br />
  <h1 class="display-4 text-center">Nodal Officer Login</h1>
  <br />
  <br />
  <div class="row justify-content-center align-items-center">
    <form [formGroup]="nodalloginForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <p>
          Nodal ID:
          <input formControlName="ID" class="form-control" />
          <br />
          <label
            *ngIf="
              nodalloginForm.get('ID')?.invalid &&
              nodalloginForm.get('ID')?.dirty
            "
            class="error"
          >
            Nodal ID is required.
          </label>
        </p>
      </div>
      <div class="form-group">
        <p>
          Password :
          <input
            type="password"
            formControlName="Password"
            class="form-control"
          />
        </p>
      </div>
      <br />
      <br />
      <div class="form-group text-center">
        <button
          routerLink="/NodalOfficer"
          [disabled]="nodalloginForm.invalid"
          class="btn btn-primary"
        >
          SUBMIT
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="formSubmitted" class="submitted">Login Successful</div>
